.container {
  display: grid;
  height: 100%;
  border: 1px solid red;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr;
  grid-template-rows: [line1] 1fr [line2] 1fr [line3] 1fr;
  gap: 10px;
  grid-template-areas: "header header header" "sidebar main main" "footer footer footer ";

  grid-template:
    [column1-start] "header header header" 1fr [column3-end]
    [column1-start] "sidebar main main" 1fr [column3-end]
    [column1-start] "footer footer footer" 1fr [column3-end];
}

.item-1 {
  border: 1px solid green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: header;
}

.item-2 {
  border: 1px solid blue;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-area: main;
}

.item-3 {
  border: 1px solid yellow;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: footer;
}
