.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100vh;
  flex-wrap: wrap;
}
* {
  height: 500px;
}

.item-1 {
  border: 1px solid green;
}

.item-2 {
  border: 1px solid blue;
}
.item-3 {
  border: 1px solid yellow;
}
.item-4 {
  border: 1px solid red;
}

.item-5 {
  border: 1px solid pink;
}
.item-6 {
  border: 1px solid purple;
}

.item-5 {
    border: 1px solid pink;
}
.item-6 {
    border: 1px solid purple;
}