.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.container > * {
  grid-column: 1 / span 12;
  border: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 600px) {
  .related {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  .ads {
    grid-column: 1 / span 3;
    grid-row: 4;
  }

  .main,
  .footer {
    grid-column: 4 / span 9;
  }
}

@media (min-width: 900px) {
  .related {
    grid-column: 1 / span 2;
  }

  .main {
    grid-column: 3 / span 8;
  }

  .ads {
    grid-column: 11 / span 2;
    grid-row: 3;
  }

  .footer {
    grid-column: 1 / span 12;
  }
}
